
        body {
            font-family: 'Georgia', serif;
            background-color: #fce4ec;
            background-image: url(imagenes/flowers\ background.jpg);
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        
            margin: 0;
            color: #4a4a4a;
        }
        /* Estilos del Candado */
        #lock-screen {
            text-align: center;
            background: white;
            padding: 40px;
            border-radius: 20px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.1);
        }

        input {
            padding: 10px;
            font-size: 1.2rem;
            width: 100px;
            text-align: center;
            border: 2px solid #f06292;
            
            border-radius: 10px;
            outline: none;
}

        button {
            padding: 10px 20px;
            
            background-color: #f06292;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 1rem;
            margin-top: 10px;
        }

        button:hover { background-color: #e91e63; }

        /* Estilos del Contenido (Oculto al inicio) */
        #content {
            display: none;
            max-width: 600px;
            background: white;
            padding: 30px;
            border-radius: 20px;
            text-align: center;
            box-shadow: 0 10px 25px rgba(0,0,0,0.1);
            margin: 20px;
        }

        h1 { color: #d81b60; }
        .lyrics {
            font-style: italic;
            background: #fff5f8;
            padding: 20px;
            border-radius: 10px;
            line-height: 1.6;
        }
        .hint { font-size: 0.8rem; color: #888; margin-top: 15px; }
   
    .playlist-container {
        max-width: 400px;
        margin: auto;
        text-align: left;
    }
    .song {
        background: #fff;
        padding: 15px;
        margin-bottom: 8px;
        border-radius: 8px;
        cursor: pointer;
        border: 1px solid #f06292;
        transition: 0.3s;
    }
    .song:hover {
        background: #f06292;
        color: white;
    }

   